/Debug/
/Day1/Debug/
/Day1/x64/
/.vs/
/Day2/Debug/
/Day2/x64/
/Day3/Debug/
/Day3/x64/
/x64/
/Day4/Debug/
/Day4/x64/
/Day5/Debug/
/Day5/x64/
/Day6/Debug/
/Day6/x64/
/Day7/Debug/
/Day7/x64/
/Day8/Debug/
/Day8/x64/
/Day9/Debug/
/Day9/x64/
/Day10/Debug/
/Day10/x64/
/Day11/Debug/
/Day11/x64/
/Day12/Debug/
/Day12/x64/
